@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bright-blue: hsla(220, 98%, 61%, 0.626);
  --check-bg: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);

  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-saturated-blue: hsl(235, 24%, 19%);
  --light-dark-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --very-dark-grayish-blue--1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue--2: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 37.5%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--very-light-gray);
}

@media only screen and (max-width: 56.25em) {
  body {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 2.5rem;
  }
}

.app {
  background: url(../public/images/bg-desktop-light.jpg) no-repeat top
    var(--very-light-gray);
  min-height: 100vh;
  padding: 8rem;
  position: relative;

  display: flex;
  justify-content: center;
}

.app-dark {
  background: url(../public/images/bg-desktop-dark.jpg) no-repeat top
    var(--very-dark-blue);
}

.app > button {
  background: var(--bright-blue);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 4.5rem;

  position: absolute;
  top: 5%;
  right: 5%;
}

.app > button img {
  display: block;
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 56.25em) {
  .app {
    padding: 12rem 4rem;
    background-size: 150%;
  }

  .app > button {
    width: 7rem;
    height: 6.5rem;
    top: 3%;
  }
}

@media only screen and (max-width: 37.5em) {
  .app {
    padding: 10rem 4rem;
  }
}

@media only screen and (max-width: 23.44em) {
  .app {
    background: url(../public/images/bg-mobile-light.jpg) no-repeat top
      var(--very-light-gray);
  }

  .app-dark {
    background: url(../public/images/bg-mobile-dark.jpg) no-repeat top
      var(--very-dark-blue);
  }
}

.app-container {
  width: 60%;
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title h1 {
  font-size: 4rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .app-container {
    width: 70%;
  }
}

@media only screen and (max-width: 37.5em) {
  .app-container {
    width: 95%;
    height: auto;
    /* position: relative; */
  }

  .app-title {
    margin-bottom: 2rem;
  }
}

.create-todo {
  position: relative;
}

.create-todo input {
  width: 100%;
  font: inherit;
  padding: 2rem 7rem;

  border-radius: 0.5rem;
  border: 1px solid #fff;
  outline: none;
}

.create-todo .input-dark {
  border: 1px solid var(--very-dark-blue);
  background: var(--very-dark-blue);
  color: var(--light-grayish-blue);
}

.check-todo {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-55%);

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2.5px solid var(--dark-grayish-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.check-todo-active {
  background: var(--check-bg);
}

.todo-container {
  border-radius: 0.5rem;
  background-color: var(--very-light-gray);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.todo-container-dark {
  background: var(--very-dark-blue);
  color: var(--light-dark-grayish-blue);
}

@media only screen and (max-width: 37.5em) {
  .todo-container {
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  }
}

.todo-container-dark .todo-list {
  color: var(--dark-grayish-blue);
}

.todo-list {
  color: var(--very-dark-grayish-blue);
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
}

.todo-list::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

.todo-list::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border-width: 1px;
  background-color: var(--dark-grayish-blue);
}

.todo-list li {
  border-bottom: 1px solid var(--very-light-grayish-blue);
  padding: 2.5rem 3rem 2.5rem 7rem;
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list li div:nth-of-type(2) {
  width: 3%;
  height: auto;
}

.todo-list li div:nth-of-type(2) img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.todo-container-dark li {
  border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.todo-container-dark .check-todo {
  border: 1px solid var(--very-dark-grayish-blue);
}

.todo-container-dark .todo-completed {
  color: var(--very-dark-saturated-blue);
}

.todo-completed {
  text-decoration: line-through;
  color: var(--light-grayish-blue);
}

.todo-completed-dark {
  color: var(--dark-grayish-blue);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 2rem;

  font-size: 1.5rem;
  padding: 2rem 3rem;
  color: var(--dark-grayish-blue);
}

.stats div:nth-of-type(2) {
  display: flex;
  gap: 3rem;
}

.stats button {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .stats {
    font-size: 2rem;
    grid-template-columns: repeat(2, auto);
  }

  .todo-container-dark .stats div:nth-of-type(2) {
    background-color: var(--very-dark-blue);
  }

  .stats div:nth-of-type(1) {
    font-size: 2.5rem;
  }

  .stats div:nth-of-type(2) {
    background-color: var(--very-light-gray);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 2rem 3rem;

    justify-content: center;
    gap: 6rem;

    position: absolute;
    width: 100%;
    bottom: -10rem;
    left: 0;
  }

  .stats button {
    border: 1.5px solid var(--dark-grayish-blue);
    border-radius: 3rem;
    padding: 1rem 3rem;
  }
}

button {
  font: inherit;
  color: inherit;
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button.active {
  background: var(--check-bg);
  background-clip: text;
  color: transparent;
}
